@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Arimo', sans-serif;
}

html, body {
  font-size: 100%;
}

#background {
  width: 100%;
  height: 100vh;
  background: url('../clear_sky.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(3px);
}

.main, .main-info {
  width: 100%;
}

.main {
  text-align: center;
}

#icon {
  font-size: 3em;
  margin-top: 4rem;
}

#desc {
  margin-top: .5rem;
  margin-bottom: 2em;
}

#temp {
  font-size: 7em;
}

#temp+span {
  font-size: 2em;
}

#cityName {
  font-size: 1em;
}

@media only screen and (min-width: 769px) {
  .main {
    width: 75%;
    height: 0;
    padding-top: 46.875%;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .2), -.5rem .5rem 1rem rgba(0, 0, 0, .2);
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
  .main-info {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(256, 256, 256, 1);
    box-sizing: border-box;
    padding: 3rem;
  }
  #main-photo {
    width: 50%;
    height: 100%;
    background: url('../clear_sky.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
  }
  #temp {
    font-size: 8em;
  }
  #cityName {
    font-size: 1.5em;
    margin-top: 1em;
  }
}